.success {
  display: block;
  border: solid 5px darkgreen;
  background-color: lightgreen;
  padding: 10px;
  margin: 10px;
}

.none {
  display: none;
}

.error {
  display: block;
  border: solid 5px crimson;
  background-color: gray;
  color: crimson;
  padding: 10px;
  margin: 10px;
}
